// -----------------------------------------------------------------------------
// This file contains all styles related to the about component.
// -----------------------------------------------------------------------------
.about {
    background-color: $brand-color-alt;

    .header {
        color: #ffffff;
        font-size: 2em;
        text-align: center;
        font-family: $main-font;
        font-weight: 700;
    }

    .text {
        color: #ffffff;
        font-size: 1.35em;
        font-family: $second-font;
    }
}
