// -----------------------------------------------------------------------------
// This file contains all styles related to the about component.
// -----------------------------------------------------------------------------
.about {
    background-color: $brand-color-alt-2;

    .header {
        color: #ffffff;
        font-size: 2em;
        text-align: center;
    }

    .text {
        color: #ffffff;
        font-size: 1.35em;
    }
}
