// -----------------------------------------------------------------------------
// This file contains all styles related to the cta component.
// -----------------------------------------------------------------------------
.cta {
    padding-top: 65px !important;
    padding-bottom: 45px !important;
    text-align: center;
    color: white;
    height: 100%;
    margin-bottom: 0;

    .inner {
        background-color: transparent !important;
        padding-top: 27px;
        padding-bottom: 27px;

        .header {
            font-size: 2.75em;
            font-family: $main-font;
            font-weight: 700;
        }

        .text {
            color: #ffffff;
            font-family: $second-font;
            font-size: 1.75em;
        }
    }

    .cta-button {
        padding-top: 15px;
    }
}
